.ticket-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: white;
    font-size: large;
    margin: 20px 40px 20px 40px;
    border: 1px solid rgb(153, 149, 149);
    border-radius: 15px;
}

#wer ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px
}